.body1{
    background-color: rgb(158, 14, 136);
    background-size: 600px, 600px;
    font-size: larger;
    margin: 0%;
    padding: 0%;
}

.navbar{
    display: flex;
    background: rgb(205, 64, 170);
    padding: 10px 5px;
    gap: 10px
}
.navbar img{
    
    text-align: left;
  
    border-radius: 50%;
    height:40px;
    width: 40px;
    gap: 2px;
   
    
}
.navbar span{
    padding-right: 20px;
    padding-top: 8px;}

    

   .navbar ul{
    list-style-type: none;
    margin: 0%;
    padding-left: 650px;
    display: flex;
    flex-direction: row;
    text-align: end;
    justify-content: flex-end;
}
.navbar li{
 
padding: 5px 10px;    
}
.navbar a{
    
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: bold;
}


.container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 150px;
}
.text-container{
    flex: 1;
    text-align: left;
    padding-right: 40px;
    }
  
.image-container{
    flex: 1;
   text-align: right;
  margin-left: 0%;
  padding-left: 0%;
}
.image-container img{
    width: 340px;
    height: 340px;
    border-radius: 50%;
    padding-top: 10px;


}
.text-container h1{
    font-size: 2em;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
}

.text-container h2{
    font-size: 2.5em;
    padding-top: 0px;
    padding-left: 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
    .text-container del{
    text-decoration: line-through;
    color: rgb(12, 42, 43);
    padding-bottom: 800;
}
.p{
    text-align: end;
    direction: rtl;
    padding-left: 700px;
    margin-top: 0%;}
    .p1{

          background-color: white;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-bottom: 100px;
        padding-top: 10px;
    }
    